  <p>ファイルの差し替え</p>
  <%= bootstrap_form_for(@source, url: {controller: :sources, action: :update}, html: {multipart: true}) do |f| %>
    <%= f.file_field :avatar, hide_label: true %>
    <%= f.submit "差し替え" %>
 <% end %>
