  <p>ファイルの差し替え</p>
  <%= form_for(@source, url: {controller: :sources, action: :update}, html: {multipart: true}) do |f| %>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= submit_tag "差し替え" %>
  </div>
 <% end %>
