<h1>課題のアップロード</h1>

<%= render 'sources/student' %>

<%= link_to assignment_path(@answer.assignment), :class => "btn btn-default" do %>
	<span class="glyphicon glyphicon-arrow-left"></span> Back
<% end %>
