<%
=begin %>
<% if can? :manage, @user %>
Your role is 'superadmin'.
<% elsif can? :update, @user %>
Your role is 'admin'.
<% else %>
Your role is 'member'.
<% end %>
</p>
<%
=end %>

<h1>課題提出状況</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>課題番号</th>
      <th>出題日</th>
      <th>設問数</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= link_to '第' + paper.index.to_s + '回', paper %></td>
        <td><%= simple_date(paper.given_date) %></td>
        <td><%= paper.questions.length %></td>
        <td><% if paper.set %>出題済<% else %>未<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, @user %>
<%= link_to '新しい課題を作る', new_paper_path, :class => "btn btn-primary" %>
<% end %>
